body {
    background-color: blanchedalmond;
    margin: auto;
    text-align: center;
    width: 50%;
}
.quiz-container {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rbga(0,0,0,1);
    padding: 10px;
    text-align: center;
    margin: auto;

}

h3 {
    background-color: rgb(223, 176, 119);
    margin: 20px;
    padding: 10p;

}




.choices {
    background-color: rgb(223, 176, 119);
    margin: 20px;
    padding: 10px;
    display: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 8px;
    transition: background-color .3s ease-in-out;
}

.btn hover {
    background: #0056b3;
}

#next-btn {
    display: none;
    margin-top: 10px;
    text-align: center;
}